@model NotifyViewModel
@using Microsoft.AspNetCore.Http.Extensions;
@{
    var url = Context.Request.GetEncodedUrl();
}

<div class="engage-toolbar d-flex position-fixed px-5 fw-bold zindex-2 top-50 end-0 transform-90 mt-5 mt-lg-20 gap-2">
    <button id="kt_engage_notification_toggle" class="engage-demos-toggle engage-btn btn shadow-sm fs-6 px-4 rounded-top-0"
            data-bs-placement="left" data-bs-dismiss="click" data-bs-trigger="hover">
        <span class="position-relative">
            Notification
            <span class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>
        </span>
    </button>
</div>

<div class="bg-body" data-kt-drawer="true"
     data-kt-drawer-name="explore" data-kt-drawer-activate="true"
     data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'370px', 'lg': '600px'}"
     data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_engage_notification_toggle"
     data-kt-drawer-close="#kt_engage_demos_close">

    <div class="card shadow-none rounded-0 w-100">
        <div class="card-header" id="kt_engage_demos_header">
            <h4 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-5">@Model.Name</span>
                <span class="text-gray-400 mt-1 fw-semibold fs-6">@Model.DateModified.ToString("dd/MM/yyyy")</span>
            </h4>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-color-primary h-40px w-40px me-n6" id="kt_engage_demos_close">
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
        <div class="card-body px-5 px-lg-10" id="kt_engage_demos_body">
            <div id="kt_explore_scroll" class="scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_engage_demos_body" data-kt-scroll-dependencies="#kt_engage_demos_header" data-kt-scroll-offset="5px">
                <div class="mb-0">
                    @Html.Raw(Model.MildContent)
                </div>
            </div>
        </div>
    </div>
</div>