@{
    ViewBag.Title = "The Value Layer of the Internet";
}
<section class="welcome_area clearfix dzsparallaxer auto-init none" data-options='{direction: "normal"}' id="home">
    <div class="divimage dzsparallaxer--target" style="width: 101%; height: 130%; background-image: url(/theme/img/bg-img/bg-5.png)"></div>

    <!-- Hero Content -->
    <div class="hero-content transparent">
        <div class="dream-blip blip1"></div>
        <div class="dream-blip blip2"></div>
        <div class="dream-blip blip3"></div>
        <div class="dream-blip blip4"></div>

        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content">
                        <div class="promo-section">
                            <div class="integration-link">
                                <span class="integration-icon">
                                    <img draggable="false" src="/theme/img/svg/img-dollar.svg" width="24" height="24" alt="">
                                </span>
                                <span class="integration-text">The Value Layer of the Internet</span>
                            </div>
                        </div>
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s">Your Gateway to Earning Up to 10% Monthly Rewards on Polygon Network</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">If you're looking to harness the power of crypto staking and generate consistent income, look no further than</p>
                        <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                            <a href="/admin/staking/index" class="btn dream-btn mr-3">Staking now</a>
                            <a href="https://docs.maticstaking.io/" target="_blank" class="btn dream-btn"> Whitepaper</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="vertical-social">
    <ul>
        <li><a href="https://t.me/maticstaking_official" title="Maticstaking Official"><i class="fa fa-telegram" aria-hidden="true" target="_blank"></i></a></li>
        <li><a href="https://t.me/maticstaking_community" title="Maticstaking Community"><i class="fa fa-telegram" aria-hidden="true" target="_blank"></i></a></li>
        <li><a href="https://www.facebook.com/MaticStaking"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a></li>
        <li><a href="https://twitter.com/macticstaking"> <i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a></li>
        <li><a href="https://docs.maticstaking.io/" target="_blank"><i class="fa fa-file" aria-hidden="true"></i></a></li>

    </ul>
</div>

<!-- ##### About Us Area Start ##### -->
<section class="about-us-area clearfix section-padding-100-70" id="about">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-6">
                <div class="welcome-meter wow fadeInUp" data-wow-delay="0.7s">
                    <img draggable="false" src="/theme/img/core-img/about1.png" class="img-responsive center-block" alt="">
                    <!-- client meta -->
                    <div class="growing-company text-center mt-30 wow fadeInUp" data-wow-delay="0.8s">
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="who-we-contant">
                    <h4 class="wow fadeInUp" data-wow-delay="0.3s"> Your Premier Investment Platform Powered by Polygon Network</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">In the fast-paced world of cryptocurrency and blockchain technology, innovative investment opportunities continue to emerge. Maticstaking.io is at the forefront of this revolution, offering a groundbreaking platform that harnesses the capabilities of the Polygon Network.</p>
                    <p class="wow fadeInUp" data-wow-delay="0.5s"> If you're on the lookout for a new and promising investment avenue, look no further than Maticstaking.io.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->


<section class="demo-video section-before section-padding-100">
    <div class="container">
        <div class="section-heading text-center">
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section class="our_team_area section-padding-100-70 clearfix" id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">

                    
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Teams</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Pioneers Behind the Polygon-Powered Investment Platform</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/1.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Jaynti Kanani</h5>
                        <p>Co-Founder</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/2.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Sandeep Nailwal</h5>
                        <p>Co-Founder</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/3.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Mihailo Bjelic</h5>
                        <p>Co-Founder</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/4.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>David Schwartz</h5>
                        <p>Co-founder, Polygon ID & Polygon Hermez</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/5.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Jordi Baylina</h5>
                        <p>Co-founder, Polygon ID & Polygon Hermez</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/6.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Antoni Martin</h5>
                        <p>Co-founder, Polygon ID & Polygon Hermez</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/7.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Brendan Farmer</h5>
                        <p>Co-founder, Polygon Zero</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/8.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Daniel Lubarov</h5>
                        <p>Co-founder, Polygon Zero</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/9.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Bobbin Threadbare</h5>
                        <p>Co-founder, Polygon Miden</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img draggable="false" src="~/images/team/10.png" class="center-block" alt="">
                    </div>
                    <!-- Team Info -->
                    <div class="team-info">
                        <h5>Anurag Arjun</h5>
                        <p>Co-Founder</p>
                    </div>
                </div>
            </div>
            <!--/ Single Team Member -->
        </div>
    </div>
</section>

<section class="roadmap section-padding-100" style="background: url('/theme/img/bg-img/bg-roadmap.png') no-repeat center center;background-size: cover;" id="roadmap">

    <div class="container-fluid">
        <div class="section-heading text-center">

            
            <h2>Our Roadmap</h2>
            <p>Paving the Way for a Thriving Future</p>
        </div>
        <div class="row">
            <div class="section_5-content">
                <div class="section_5-slider-trumb"></div>
                <div id="section_5-slider-circle">
                    <div style="left:12%" class="data_cir cir_0" data-date="July 1, 2023">
                        <div class="data_cir-content">
                            <span><span class="roadmap_content_info">Website building, social building, partner connection, community connection</span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/1.svg" alt=""></span></span>
                        </div>
                    </div>
                    <div style="left:22%" class="data_cir cir_1" data-date="September 5, 2023">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>Launch the airdrop program</span></li>
                                        <li><span>Launch staking program</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/2.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:33%" class="data_cir cir_2" data-date="January 1st, 2024">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>List Matic Classic (MCC) token on DEX Uniswap</span></li>
                                        <li><span>List Matic Classic (MCC) token on Poocoin</span></li>
                                        <li><span>List Matic Classic (MCC) token on TradingView</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/3.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:43%" class="data_cir cir_3" data-date="June 15, 2024">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>List Matic Classic (MCC) token on CEX CoinTr</span></li>
                                        <li><span>List Matic Classic (MCC) token on Coinmarketcap, Coingecko</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/4.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:53%" class="data_cir cir_4 red_crc" data-date="January 1st, 2025">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>Launch Blockchain on Testnet</span></li>
                                        <li><span>Launch Wallet on Testnet</span></li>
                                        <li><span>Launch miner to join mining network according to Proof of Stake (POS)</span></li>
                                        <li><span>Launch initialize Smart Contract</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/5.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:63%" class="data_cir cir_5 next" data-date="August 1, 2025">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>Launch Blockchain on Mainnet</span></li>
                                        <li><span>Swap Token from Testnet to Mainnet</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/6.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:73%" class="data_cir cir_6 next" data-date="June 15, 2026">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    List Matic Classic (MCC) token on CEX MEXC, Gate, Kucoin
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/7.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                    <div style="left:83%" class="data_cir cir_7 next" data-date="June 1, 2027">
                        <div class="data_cir-content">
                            <span>
                                <span class="roadmap_content_info">
                                    <ul>
                                        <li><span>Launch Exchange coin information and Capital raising funds</span></li>
                                        <li><span>Launch Centralized Exchange</span></li>
                                    </ul>
                                </span><span class="roadmap_img"><img draggable="false" src="/theme/img/roadmap-icons/8.svg" alt=""></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="trust-section section-padding-100" id="partnership">
    <div class="section-heading text-center">
        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our partner</h2>
        <p class="wow fadeInUp" data-wow-delay="0.4s">Together, we are on a mission to revolutionize the way individuals invest and grow their assets.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/63d035fd24e3a27775c9ff6d_coinbase.svg" />
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/63d035fe9e8158158a1cf586_binance.svg" />
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/63d035fea32baf3de59a3b6e_sequoia.svg" />
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/63d035fec5cd49d933711bfe_mcc.svg" />
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/kucoin.png" />
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <!-- Single Cool Fact -->
                <div class="trust-item-cus text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/partner/gate.png" />
                </div>
            </div>

        </div>
    </div>
</div>

<section style="background: url('/theme/img/bg-img/bg-roadmap.png') no-repeat center center;background-size: cover;" 
class="our_services_area section-padding-100-70 clearfix" id="services">
    <div class="container">

        <div class="section-heading text-center">

            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Staking packages</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Elevate Your Investment Game with Polygon Network</p>
        </div>


        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="service_single_content text-left mb-100 wow fadeInUp service_single_content_custom" data-wow-delay="0.2s">
                    <div class="service_icon">
                        <img src="~/images/icon/1.png" />
                    </div>
                    <h6>$200 to less than $1,000</h6>
                    <p>
                        <ul>
                            <li>Receive 6% interest/month</li>
                            <li>Maxout 300%.</li>
                            <li>Get daily profit</li>
                        </ul>
                    </p>
                    <p class="center"><a href="/admin/staking/index" class="integration-link-custom">Staking Now</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-left mb-100 wow wow fadeInUp service_single_content_custom" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/images/icon/2.png" />
                    </div>
                    <h6>$1,000 to under $8,000</h6>
                    <p>
                        <ul>
                            <li>Receive 8% interest/month</li>
                            <li>Maxout 300%.</li>
                            <li>Get daily profit</li>
                        </ul>
                    </p>
                    <p class="center"><a href="/admin/staking/index" class="integration-link-custom">Staking Now</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-left mb-100 wow fadeInUp service_single_content_custom" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="~/images/icon/3.png" />
                    </div>
                    <h6>$8,000 or more</h6>
                    <p>
                        <ul>
                            <li>Receive 10% interest/month</li>
                            <li>Maxout 300%.</li>
                            <li>Get daily profit</li>
                        </ul>
                    </p>
                    <p class="center"><a href="/admin/staking/index" class="integration-link-custom">Staking Now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

